/* redefinição do body*/
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(-45deg, #89eabd, #7a9adf, #3a8282, #51bfde8b);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  height: 100vh;
}

/*------------------Inicio degradê-------------------------------- */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*-------------------------Fim degradê------------------------------- */

/*--------------------------Inicio Ocultar e mostrar senha(olho)------------------------------------------*/
#icon1{
    position:absolute;
    top:368px;
    right:7.3rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
}

#icon1.hide{
    background: url("./img/hide.png");
    background-size:cover;
}

#icon2{
  position:absolute;
  top:462px;
  right:7.3rem;
  transform: translateY(50%);
  background: url("./img/show.png");
  background-size:cover;
  width:27px;
  height:27px;
  cursor:pointer;
}
 

#icon2.hide{
    background: url("./img/hide.png");
    background-size:cover;
}


/*-----------------------------Fim Ocultar e mostrar senha(olho)---------------------------------------*/

/*-------------Inicio Inputs,circulos e mensagens(validações)----------------------*/
.divInput i {
  position: absolute;
  visibility:hidden;
}
  
.divInput small {
  position: absolute;
  visibility:hidden;
}

.divInput.success input {
  border-color: #2ecc71;
}
  
.divInput.error input {
  border-color: #e74c3c;
}

.divInput.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
  
.divInput.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.divInput.error small {
  visibility: visible;
  color: #e74c3c;
}

.mensagem_de_erro1{
  top:17rem;
  left: 7.7rem;
}

.mensagem_de_erro2{
  top:20.2rem;
  left:7.7rem;
}

.mensagem_de_erro3{
  top:26rem;
  left:7.7rem;
}

.mensagem_de_erro4{
  top:31.8rem;
  left:7.7rem;
}

.circulo_certoErrado1{
    top:12.34rem;
    right:8rem;
    z-index: 999999;
}

.circulo_certoErrado2{
  top:18.4rem;
  right:8rem;
  z-index: 999999;
}

.circulo_certoErrado3{
  top:24.2rem;
  right:9.5rem;
  z-index: 999999;
}

.circulo_certoErrado4{
  top:30.1rem;
  right:9.5rem;
  z-index: 999999;
}
/*--------------Fim Inputs,circulos e mensagens(validações)-----------------------------*/

/*-----------------Inicio Modo Dark(cores)---------------------------------------------------------*/
.esfera{
  width:40px;
  height:20px;
  border:solid 1px black ;
  border-radius:60px;
  position:relative;
  cursor:pointer;
  top:0.7rem;
}

.esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:7%;
    left:2%;
    transition: left .3s;
}

.esfera.active{
  border:solid 1px white ;
}

.esfera.active:before{
  left:21px;
  background-color: white;
}

.formulario{
  background-color:rgb(251, 249, 249);
  border:black solid 0.5px;
  transition: .3s;
}

.formulario.active{
  background-color: rgb(33, 33, 31);
  color:white;
  transition: .3s; 
}

.enviar{
  background-color:rgb(255, 204, 0);
  padding: 8px;
  border:none;
  transition: .3s;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.enviar.active{
   background-color: #ff5b09;
   border:solid 1px #ff5b09;
   transition: .3s;
   color:white;
}

.hr{
  border-color:rgb(255, 204, 0);
  opacity: 100%;
  transition: .3s;
}

.hr.active{
  border:solid 1px #ff5b09;
  transition: .3s;
}

.modoDark{
  transition: background .3s;
}
/*-------------------Fim Modo Dark(cores)-------------------------------------------------------*/


/*-------------------colocar borda preta no form control do Bootstrap-------------------------------------------------------*/
.form-control{
   border:3px solid black;
}

/*--------------Inicio Media Querys-------------*/
@media (max-width: 391px) {
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:19.2rem;
    left:1rem;
  }
  
  .mensagem_de_erro3{
    top:25rem;
    left:1rem;
    
  }
  
  .mensagem_de_erro4{
    top:30.8rem;
    left:1rem;
  }
  
  .circulo_certoErrado1{
      top:11.4rem;
      right:1rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:17.49rem;
    right:1rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:23.3rem;
    right:3rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:29.2rem;
    right:3rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:4%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 354px;
    right:1rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:449px;
    right:1rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:512px) and (min-width: 511px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:19.2rem;
    left:1rem;
  }
  
  .mensagem_de_erro3{
    top:25rem;
    left:1rem;
    
  }
  
  .mensagem_de_erro4{
    top:30.8rem;
    left:1rem;
  }
  
  .circulo_certoErrado1{
      top:11.4rem;
      right:1rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:17.4rem;
    right:1rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:23.3rem;
    right:3rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:29.2rem;
    right:3rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:4%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 354px;
    right:1rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:449px;
    right:1rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }


}

@media screen and (max-width:615px) and (min-width: 613px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:19.4rem;
    left:3rem;
  }
  
  .mensagem_de_erro3{
    top:25.2rem;
    left:3rem;
    
  }
  
  .mensagem_de_erro4{
    top:31rem;
    left:3rem;
  }
  
  .circulo_certoErrado1{
      top:11.6rem;
      right:3.3rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:17.8rem;
    right:3.3rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:23.6rem;
    right:5rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:29.5rem;
    right:5rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:3%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 22.5rem;
    right:3rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:28.4rem;
    right:3rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }


}

@media screen and (max-width:768px) and (min-width: 767px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:19.4rem;
    left:2.2rem;
  }
  
  .mensagem_de_erro3{
    top:25.2rem;
    left:2.2rem;
    
  }
  
  .mensagem_de_erro4{
    top:31rem;
    left:2.2rem;
  }
  
  .circulo_certoErrado1{
      top:11.8rem;
      right:2.5rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:17.9rem;
    right:2.5rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:23.7rem;
    right:4rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:29.5rem;
    right:4rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:3%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 22.5rem;
    right:2.2rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:28.4rem;
    right:2.2rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:878px) and (min-width: 876px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:19.6rem;
    left:5.6rem;
  }
  
  .mensagem_de_erro3{
    top:25.4rem;
    left:5.6rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.2rem;
    left:5.6rem;
  }
  
  .circulo_certoErrado1{
      top:11.9rem;
      right:6rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.1rem;
    right:6rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:23.8rem;
    right:7.6rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:29.8rem;
    right:7.6rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:3%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 22.7rem;
    right:5.6rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:28.6rem;
    right:5.6rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:1024px) and (min-width: 1023px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:19.6rem;
    left:2.6rem;
  }
  
  .mensagem_de_erro3{
    top:25.4rem;
    left:2.6rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.2rem;
    left:2.6rem;
  }
  
  .circulo_certoErrado1{
      top:12rem;
      right:3rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.1rem;
    right:3rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:23.9rem;
    right:4.7rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:29.8rem;
    right:4.7rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:4%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 22.7rem;
    right:2.8rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:28.6rem;
    right:2.8rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:1229px) and (min-width: 1228px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:19.9rem;
    left:3.3rem;
  }
  
  .mensagem_de_erro3{
    top:25.6rem;
    left:3.3rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.5rem;
    left:3.3rem;
  }
  
  .circulo_certoErrado1{
      top:12.3rem;
      right:3.8rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.4rem;
    right:3.8rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.2rem;
    right:5.5rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:30rem;
    right:5.5rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:4%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23rem;
    right:3.5rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:28.8rem;
    right:3.5rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:1397px) and (min-width: 1395px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:20rem;
    left:8.4rem;
  
  }
  
  .mensagem_de_erro3{
    top:25.8rem;
    left:8.4rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.7rem;
    left:8.4rem;
  }
  
  .circulo_certoErrado1{
      top:12.3rem;
      right:9rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.4rem;
    right:9rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.2rem;
    right:10.6rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:30rem;
    right:10.6rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:4%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23rem;
    right:8.6rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:28.8rem;
    right:8.6rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}


@media screen and (max-width:1229px) and (min-width: 1228px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:19.9rem;
    left:3.3rem;
  }
  
  .mensagem_de_erro3{
    top:25.6rem;
    left:3.3rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.5rem;
    left:3.3rem;
  }
  
  .circulo_certoErrado1{
      top:12.3rem;
      right:3.8rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.4rem;
    right:3.8rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.2rem;
    right:5.5rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:30rem;
    right:5.5rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:4%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23rem;
    right:3.5rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:28.8rem;
    right:3.5rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:1707px) and (min-width: 1705px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:20.1rem;
    left:12.5rem;
  
  }
  
  .mensagem_de_erro3{
    top:25.9rem;
    left:12.5rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.8rem;
    left:12.5rem;
  }
  
  .circulo_certoErrado1{
      top:12.3rem;
      right:13rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.4rem;
    right:13rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.2rem;
    right:15rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:30rem;
    right:15rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:4%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23rem;
    right:13rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:28.8rem;
    right:13rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:1920px) and (min-width: 1919px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:20.1rem;
    left:19rem;
  
  }
  
  .mensagem_de_erro3{
    top:25.9rem;
    left:19rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.8rem;
    left:19rem;
  }
  
  .circulo_certoErrado1{
      top:12.3rem;
      right:19.5rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.4rem;
    right:19.5rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.3rem;
    right:21.5rem;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:30.1rem;
    right:21.5rem;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 16px;
    height:16px;
    background:#000000;
    border-radius:50%;
    top:1.8%;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23.1rem;
    right:19.5rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:29rem;
    right:19.5rem;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:2048px) and (min-width: 2047px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:20.1rem;
    left:23rem;
  
  }
  
  .mensagem_de_erro3{
    top:25.9rem;
    left:23rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.8rem;
    left:23rem;
  }
  
  .circulo_certoErrado1{
      top:12.4rem;
      right:23.4rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.5rem;
    right:23.3em;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.4rem;
    right:25.5em;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:30.3rem;
    right:25.5em;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 1rem;
    height:0.9rem;
    background:#000000;
    border-radius:50%;
    top:0.11rem;
    left:2%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23.2rem;
    right:23.3em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:29.2rem;
    right:23.3em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:2304px) and (min-width: 2303px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:20.2rem;
    left:31rem;
  
  }
  
  .mensagem_de_erro3{
    top:26rem;
    left:31rem;
    
  }
  
  .mensagem_de_erro4{
    top:31.9rem;
    left:31rem;
  }
  
  .circulo_certoErrado1{
      top:12.4rem;
      right:31rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.5rem;
    right:31em;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.4rem;
    right:33em;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:30.3rem;
    right:33em;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 1rem;
    height:1rem;
    background:#000000;
    border-radius:50%;
    top:0.015rem;
    left:2.5%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23.2rem;
    right:31em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:29.2rem;
    right:31em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:3072px) and (min-width:3071px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:20.7rem;
    left:54.7rem;
  
  }
  
  .mensagem_de_erro3{
    top:26.5rem;
    left:54.7rem;
    
  }
  
  .mensagem_de_erro4{
    top:32.3rem;
    left:54.7rem;
  }
  
  .circulo_certoErrado1{
      top:12.4rem;
      right:55rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:18.5rem;
    right:55em;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.4rem;
    right:57em;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:30.3rem;
    right:57em;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 1rem;
    height:1.2rem;
    background:#000000;
    border-radius:50%;
    top:-0.03rem;
    left:0.6%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23.2rem;
    right:55em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:29.2rem;
    right:55em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:4608px) and (min-width:4607px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:20.9rem;
    left:102.3rem;
  
  }
  
  .mensagem_de_erro3{
    top:26.8rem;
    left:102.3rem;
    
  }
  
  .mensagem_de_erro4{
    top:32.9rem;
    left:102.3rem;
  }
  
  .circulo_certoErrado1{
      top:12.6rem;
      right:102.5rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:19rem;
    right:102.5em;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:24.9rem;
    right:104.5em;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:31rem;
    right:104.5em;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 0.9rem;
    height:1rem;
    background:#000000;
    border-radius:50%;
    top:-0.1rem;
    left:0.6%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 23.5rem;
    right:102.5em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:29.6rem;
    right:102.5em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}

@media screen and (max-width:6144px) and (min-width:6143px){
  .mensagem_de_erro1{
    top:17rem;
    left: 7.7rem;
  }
  
  .mensagem_de_erro2{
    top:21rem;
    left:150rem;
  
  }
  
  .mensagem_de_erro3{
    top:27.4rem;
    left:150rem;
    
  }
  
  .mensagem_de_erro4{
    top:33.3rem;
    left:150rem;
  }
  
  .circulo_certoErrado1{
      top:12.9rem;
      right:150rem;
      z-index: 999999;
  }
  
  .circulo_certoErrado2{
    top:19.4rem;
    right:150em;
    z-index: 999999;
  }
  
  .circulo_certoErrado3{
    top:25.3rem;
    right:152em;
    z-index: 999999;
  }
  
  .circulo_certoErrado4{
    top:31.3rem;
    right:152em;
    z-index: 999999;
  }

  .esfera:before{
    content:'';
    position:absolute;
    width: 1rem;
    height:1rem;
    background:#000000;
    border-radius:50%;
    top:-0.078rem;
    left:0.6%;
    transition: left .3s;
  }

  #icon1{
    position:absolute;
    top: 24.2rem;
    right:150em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }

  #icon2{
    position:absolute;
    top:30.1rem;
    right:150em;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
  }
}