/* redefinição do body*/
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(-45deg, #89eabd, #7a9adf, #3a8282, #51bfde8b);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  height: 100vh;
}

/*------------------Inicio degradê-------------------------------- */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*-------------------------Fim degradê------------------------------- */

/*--------------------------Inicio Ocultar e mostrar senha(olho)------------------------------------------*/
#icon1{
    position:absolute;
    top:297px;
    right:11vh;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
}

#icon1.hide{
    background: url("./img/hide.png");
    background-size:cover;
}

#icon2{
    position:absolute;
    top:376px;
    right:11vh;
    transform: translateY(50%);
    background: url("./img/show.png");
    background-size:cover;
    width:27px;
    height:27px;
    cursor:pointer;
}

#icon2.hide{
    background: url("./img/hide.png");
    background-size:cover;
}


/*-----------------------------Fim Ocultar e mostrar senha(olho)---------------------------------------*/

/*-------------Inicio Inputs,circulos e mensagens(validações)----------------------*/
.divInput i {
  position: absolute;
  visibility:hidden;
}
  
.divInput small {
  position: absolute;
  visibility:hidden;
}

.divInput.success input {
  border-color: #2ecc71;
}
  
.divInput.error input {
  border-color: #e74c3c;
}

.divInput.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
  
.divInput.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.divInput.error small {
  visibility: visible;
  color: #e74c3c;
}

.mensagem_de_erro1{
  top:11rem;
  left: 7.7rem;
}

.mensagem_de_erro2{
  top:17rem;
  left:7.7rem;
}

.mensagem_de_erro3{
  top:23rem;
  left:7.7rem;
}

.mensagem_de_erro4{
  top:28.8rem;
  left:7.7rem;
}

.circulo_certoErrado1{
    top:9.3rem;
    right:8rem;
    z-index: 999999;
}

.circulo_certoErrado2{
  top:15.4rem;
  right:8rem;
  z-index: 999999;
}

.circulo_certoErrado3{
  top:21.2rem;
  right:8rem;
  z-index: 999999;
}

.circulo_certoErrado4{
  top:27rem;
  right:8rem;
  z-index: 999999;
}
/*--------------Fim Inputs,circulos e mensagens(validações)-----------------------------*/

/*-----------------Inicio Modo Dark(cores)---------------------------------------------------------*/
.esfera{
  width:40px;
  height:20px;
  border:solid 1px black ;
  border-radius:60px;
  position:relative;
  cursor:pointer;
  top:0.7rem;
}

.esfera:before{
    content:'';
    position:absolute;
    width: 17px;
    height:17px;
    background:#000000;
    border-radius:50%;
    top:7%;
    left:2%;
    transition: left .3s;
}

.esfera.active{
  border:solid 1px white ;
}

.esfera.active:before{
  left:21px;
  background-color: white;
}

.formulario{
  background-color:rgb(251, 249, 249);
  border:black solid 0.5px;
  transition: .3s;
}

.formulario.active{
  background-color: rgb(33, 33, 31);
  color:white;
  transition: .3s; 
}

.enviar{
  background-color:rgb(255, 204, 0);
  padding: 8px;
  border:none;
  transition: .3s;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.enviar.active{
   background-color: #ff5b09;
   border:solid 1px #ff5b09;
   transition: .3s;
   color:white;
}

.hr{
  border-color:rgb(255, 204, 0);
  opacity: 100%;
  transition: .3s;
}

.hr.active{
  border:solid 1px #ff5b09;
  transition: .3s;
}

.modoDark{
  transition: background .3s;
}
/*-------------------Fim Modo Dark(cores)-------------------------------------------------------*/

/*-------------------colocar borda preta no form control do Bootstrap-------------------------------------------------------*/
.form-control{
   border:3px solid black;
}


